<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SO4 - Publicaciones propias</title>
        <%- include('./parts/html.head.complements.ejs')%>
        <link rel="stylesheet" href="../css/publicacion.propia.css">
    </head>
    
    <body>
        <%- include('./parts/nav.ejs') %>

        <div id="contenido" class="d-flex justify-content-left">
            <div id="sub_contenido">
                <div class="caja_centrada py-3 pb-4" id="titulo">
                    <p class="text-start fw-bold fs-1">Mis publicaciones</p>
                </div>

                <div class="mb-0" id="mis_publicaciones">
                </div>
            </div>
        </div>

        <%- include('./parts/footer.ejs') %>
    </body>

    
    <script type="text/javascript">
        fetch('/publicaciones?self=1')
        .then( res => res.json() )
        .then( mis_publicaciones => {
            //mis_publicaciones = Object.entries(mis-publicaciones);
            //console.log(mis_publicaciones)
    
            mis_publicaciones.forEach( publicacion => {
                console.log(publicacion)
                //publicacion = publicacion[1];
                publicacion.fotos = JSON.parse(publicacion.fotos);
    
                let fotos = "";
                publicacion.fotos.forEach( foto => {
                    console.log(foto)
                    fotos += `
                    <div class="carousel-item active">
                        <img src="/images/posts-photos/${foto}" style="height: 280px;" class="d-block w-100">
                    </div>
                    `;
                } );
            
                publicacion = `
                    <div class="mb-0">
                        <div class="row row-cols-1 row-cols-sm-2" style="margin-bottom: 30px;">
                            <div class="col-md-5" style="margin:auto;">
                                <div id="fotosPublicacion" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        ${fotos}
                                    </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#fotosPublicacion" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#fotosPublicacion" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                </div>
                            </div>
        
                            <div class="col-md-7" style="margin:auto">
                                <ul class="list-group list-group-flush">
                                    <li id="titulo" class="list-group-item">Nombre de publicación: ${publicacion.titulo} </li>
                                    <li id="categoria" class="list-group-item">Categoría: ${publicacion.categoriaSuperior?publicacion.categoriaSuperior:"No se presenta"}</li>
                                    <li id="tipo" class="list-group-item">Subcategoría: ${publicacion.categoria?publicacion.categoria:"No se presenta"}</li>
                                    <li id="negociabilidad" class="list-group-item">Negociable: 
                                            <input class="form-check-input" type="checkbox" role="switch" ${publicacion.negociable?"checked":""} disabled>
                                    </li>
                                    <li id="precio" class="list-group-item">Precio: S/.${publicacion.precio}</li>

                                    <li class="list-group-item" style="margin:auto;">    
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <a type="button" class="btn btn-outline-dark" href="/publicacion?id=${publicacion.id}">Ver</a>
                                            <a type="button" class="btn btn-outline-dark" href="/editar-publicacion?id=${publicacion.id}">Editar</a>
                                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#Eliminar" class="link-primary">Eliminar</button>
                                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#Ocultar" class="link-primary">Ocultar</button>
                                            <button type="button" class="btn btn-outline-dark">Refrescar</button>
                                        </div>                                        

                                        <%- include('./parts/publicacion.propio.delete.ejs') %>
                                        <%- include('./parts/publicacion.propio.hide.ejs') %>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                `; 
                document.querySelector('#mis_publicaciones').innerHTML += publicacion;
            }); 
            
        })



    </script>
</html>